<div class="wrapper">
    <section class="parallax">
        <div class="parallax__body">
            <div class="parallax__container _container">
                <div class="parallax__label">
                    <div class="parallax__title">hello</div>
                </div>
            </div>
            <div class="parallax__images images-parallax">
                <div class="images-parallax__item">
                    <div class="images-parallax__clouds"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__mountains"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__human"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__container container">
            <h2 class="content__title">other text</h2>
            <p class="content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate exercitationem quidem
                similique, quam blanditiis quaerat, numquam maxime ab qui harum aliquid ducimus suscipit
                adipisci vel. Magni laborum accusantium laboriosam assumenda. Unde magnam amet veritatis
                possimus vel culpa officiis, quo rem ut sunt, officia tenetur. Voluptatem quia, aliquam
                cupiditate veritatis est saepe cum quae velit voluptatum dolorem quo illo nam quaerat! Iure
                odit accusantium recusandae eveniet consequuntur aliquid nam, labore dignissimos deserunt eos
                illum sunt sequi in qui est sint? Mollitia soluta excepturi natus ex impedit ratione debitis
                commodi quis laboriosam. Vel fugit quisquam, perferendis repudiandae obcaecati, rem,
                repellendus distinctio quae quibusdam eos officiis voluptatibus laborum quis iure nesciunt
                praesentium harum voluptatum esse! Harum rem a fugit, architecto iste at quod? Odio voluptates
                provident consectetur minima, a fuga praesentium, numquam expedita tempora quis quisquam harum
                nisi eos illum nobis repellendus tenetur tempore vitae rem unde consequatur itaque deleniti?
                Aliquid, tempore ipsam. Deserunt sequi quae sunt perspiciatis numquam quam veniam omnis earum,
                reprehenderit ullam. Porro, autem fugiat? A ipsam laudantium, nam reprehenderit voluptas
                temporibus, minus incidunt beatae modi id quo enim eum. Accusamus necessitatibus neque ut
                iusto cumque asperiores corporis placeat, modi assumenda deserunt laudantium error dolore qui
                veniam pariatur quo repudiandae distinctio nostrum dolores quod accusantium. Cupiditate
                placeat error aliquam ipsa! Temporibus non, sequi pariatur assumenda ipsam dolores. Porro
                quibusdam doloremque rem vitae dolorum deserunt voluptatum. Commodi porro perspiciatis laborum
                atque corrupti dolore, expedita dolor necessitatibus, delectus consectetur exercitationem
                blanditiis quia? Autem saepe voluptates ipsam nulla voluptas itaque corporis enim at quia
                necessitatibus aut molestias quisquam delectus, eos maxime non fugiat? Necessitatibus minus
                aperiam adipisci ea repellendus atque laboriosam, porro pariatur! Adipisci inventore quas
                possimus tenetur, corrupti odio, cumque voluptas nostrum recusandae distinctio, perferendis
                natus ab vero aliquid. Praesentium quas neque reiciendis magni amet, repellendus velit
                similique nihil. Maxime, itaque blanditiis! Assumenda, iste placeat saepe dolores porro soluta
                obcaecati cumque delectus fuga quaerat laborum doloremque numquam distinctio, adipisci
                repellat mollitia reprehenderit tempore repellendus. Molestias placeat nam reiciendis nemo,
                natus facilis inventore! Unde ex, velit voluptatibus illo perspiciatis quidem expedita vero
                commodi cumque excepturi labore minus eveniet ut ad sequi in consequatur quod dignissimos.
                Fugit asperiores sint laudantium veritatis maxime ipsum eius? Voluptatum, vel, aut iure
                incidunt accusamus molestiae culpa repellat, sapiente tempora dicta voluptas! Provident,
                consequuntur, id quam nam eius, quibusdam suscipit maxime laborum porro corporis numquam
                asperiores cupiditate eum debitis? Dolorem recusandae nam dicta ipsum id nemo harum quod
                adipisci, itaque laudantium et nostrum vel a velit voluptatem suscipit minus? Sapiente nostrum
                quae molestiae beatae, sed similique ducimus rem voluptas. Similique unde culpa laboriosam
                blanditiis inventore totam reprehenderit, quia quaerat odio voluptas alias repellendus?
                Debitis error accusamus esse perspiciatis amet minima, veniam ea nemo magnam nihil dolore
                sequi corrupti sunt?
            </p>
        </div>
    </section>
</div>
