<div class="wrapper">
    <section class="parallax">
        <div class="parallax__body">
            <div class="parallax__container _container">
                <div class="parallax__header header">
                    <div class="header__logo">MNTN</div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li class="header__item">Equipment</li>
                            <li class="header__item">About us</li>
                            <li class="header__item">Blog</li>
                        </ul>
                    </nav>
                    <div class="header__log">{{Icon iconName='login' }} Account</div>
                </div>
                <div>
                    <div class="parallax__label">
                        <div class="parallax__title">A Hiking guide</div>
                    </div>
                    <div class="parallax__text">Be prepared for the Mountains and beyond!</div>
                </div>
            </div>
            <div class="parallax__images images-parallax">
                <div class="images-parallax__item">
                    <div class="images-parallax__clouds"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__mountains"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__human"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__container container">
            <ul class="content__list">
                <li class="content__item card">
                    <div class="card__block">
                        <div class="card__num">01</div>
                        <div class="card__label">GEt Started</div>
                        <div class="card__title">What level of hiker are you?</div>
                        <div class="card__txt">
                            Determining what level of hiker you are can be an important tool when planning
                            future hikes. This hiking level guide will help you plan hikes according to
                            different hike ratings set by various websites like All Trails and Modern Hiker.
                            What type of hiker are you – novice, moderate, advanced moderate, expert, or
                            expert backpacker?
                        </div>
                        <button class="card__btn">read more {{Icon iconName='arrow' }}</button>
                    </div>
                    <div class="card__img">
                        <img src="../../static/img/content/photo1.jpeg" alt="" />
                    </div>
                </li>
                <li class="content__item card">
                    <div class="card__img">
                        <img src="../../static/img/content/photo2.jpeg" alt="" />
                    </div>
                    <div class="card__block">
                        <div class="card__num">02</div>
                        <div class="card__label">Hiking Essentials</div>
                        <div class="card__title">Picking the right Hiking Gear!</div>
                        <div class="card__txt">
                            The nice thing about beginning hiking is that you don’t really need any special
                            gear, you can probably get away with things you already have. Let’s start with
                            clothing. A typical mistake hiking beginners make is wearing jeans and regular
                            clothes, which will get heavy and chafe wif they get sweaty or wet.
                        </div>
                        <button class="card__btn">read more {{Icon iconName='arrow' }}</button>
                    </div>
                </li>
                <li class="content__item card">
                    <div class="card__block">
                        <div class="card__num">03</div>
                        <div class="card__label">where you go is the key</div>
                        <div class="card__title">Understand Your Map & Timing</div>
                        <div class="card__txt">
                            To start, print out the hiking guide and map. If it’s raining, throw them in a
                            Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to
                            expect. I like to know what my next landmark is as I hike. For example, I’ll read
                            the guide and know that say, in a mile, I make a right turn at the junction..
                        </div>
                        <button class="card__btn">read more {{Icon iconName='arrow' }}</button>
                    </div>
                    <div class="card__img">
                        <img src="../../static/img/content/photo3.jpeg" alt="" />
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
