<link rel="stylesheet" href="./parallax.css" />

<div class="wrapper">
    <section class="parallax">
        <div class="parallax__body">
            <div class="parallax__container _container">
                <div class="parallax__label">
                    <div class="parallax__title">hello</div>
                </div>
            </div>
            <div class="parallax__images images-parallax">
                <div class="images-parallax__item">
                    <div class="images-parallax__clouds"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__mountains"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__human"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__container container">
            <h2 class="content__title">остальной контент сайта</h2>
            <div class="content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, exercitationem fuga consectetur
                laboriosam nulla unde, libero omnis mollitia nemo adipisci asperiores sunt at natus enim
                impedit aliquid pariatur saepe doloremque.
            </div>
        </div>
    </section>
</div>
